<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>HDI Prediction</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <div class="logo">🌍 HDI Predictor</div>

    <a href="/prediction">
        <button class="nav-btn">Predict</button>
    </a>
</nav>

<section class="hero">

<div class="glass">

<h1>Human Development Index Prediction</h1>

<p>

Predict a country's Human Development Index using
Machine Learning based on:

</p>

<ul>

<li>Life Expectancy</li>

<li>Expected Years of Schooling</li>

<li>Mean Years of Schooling</li>

<li>Gross National Income Per Capita</li>

</ul>

<a href="/prediction">

<button class="start-btn">

Start Prediction →

</button>

</a>

</div>

</section>

</body>
</html>